Repository awendland/iot-doorman: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-lint, markdown-lint, server-lint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10 # NOTE: this should align with the version in the various pyproject.toml files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-toml

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: remove-crlf

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.6.0
    hooks:
      - id: pretty-format-ini
        args: [--autofix]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.77.0
    hooks:
      - id: terraform_fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        # Why '--strict'? To return a non-zero exit code on warnings
        # so pre-commit captures it as a failure.
        args: [--strict, --config-file, .yamllint.yaml]

  - repo: local
    hooks:
      # https://github.com/hadolint/hadolint
      - id: dockerfile-lint
        name: Dockerfile Lint
        language: docker_image
        entry: hadolint/hadolint:v2.12.0 hadolint
        files: ^.*Dockerfile.*$

        # https://github.com/koalaman/shellcheck
      - id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        entry: koalaman/shellcheck:v0.9.0
        types: [shell]

        # https://github.com/igorshubovych/markdownlint-cli
      - id: markdown-lint
        name: Markdown Lint
        language: docker_image
        entry: ghcr.io/igorshubovych/markdownlint-cli:v0.32.2
        args: [--config, .markdownlintrc, --fix]
        types: [markdown]

      - id: server-lint
        name: server lint & format
        language: system
        entry: bash -c 'cd server/ && just format && just lint'
        files: ^server/
        pass_filenames: false

feat(server): auto login on page load + limit session cache to 100
  server/app/app.py
  server/app/static/index.html
  server/pyproject.toml
  server/requirements-dev.lock
  server/requirements.lock
Due: server-lint

feat(server): add GIT_VERSION_HASH to image
  .github/workflows/build_and_deploy.yaml
  server/Dockerfile
  server/app/app.py
Due: dockerfile-lint, server-lint

feat(server): scale page for mobile
  server/app/static/index.html
Due: server-lint

ci(server): add typecheck to pre-commit
  .pre-commit-config.yaml
  server/justfile
Due: server-lint

feat(server): add device ring statuses
  server/app/app.py
Due: server-lint

feat(server): rename rough_time to timestamp_ntp
  server/app/app.py
Due: server-lint

feat(server): include timezone in history timestamps
  server/app/app.py
Due: server-lint

feat(server): add better mobile styling for history
  server/app/static/index.html
Due: server-lint

feat(server): improve desktop styling for history
  server/app/static/index.html
Due: server-lint

feat(server): expand history to 40 items on initial load
  server/app/static/index.html
Due: server-lint

server: fix GIT_VERSION_HASH arg and minimize docker context
  server/.dockerignore
  server/Dockerfile
Due: dockerfile-lint, server-lint

server: switch website to declarative @b9g/crank instead of idempotent vanilla js
  server/app/static/index.html
Due: server-lint

server: descending sort history, device status label, hide controls if not logged in
  server/app/static/index.html
Due: server-lint

readme: record push notification docs and basic wiring diagram
  README.md
Due: markdown-lint

device: add initial code
  device/.gitignore
  device/include/README
  device/justfile
  device/lib/README
  device/platformio.ini
  device/src/main.cpp
  device/test/README
Due: none

meta: add gitignore
  .gitignore
Due: none

meta: add visual studio code config to make python imports work better
  iot-doorman.code-workspace
Due: none

server: always sort events before rendering
  server/app/static/index.html
Due: server-lint

server: set device status to unknown if loading
  server/app/static/index.html
Due: server-lint

server: latestDeviceStatus from front
  server/app/static/index.html
Due: server-lint
